#map {
    height: 650px;
}

.leaflet-popup-content img {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.leaflet-popup-content > div {
    width: 260px;
}

.leaflet-popup-content hr {
    margin-top: 0;
    clear: both;
}

.leaflet-popup-content .category {
    font-weight: 500;
}

.leaflet-popup-content .popup-content {
    margin-right: 10px;
    width: auto !important;
}